// @use './utils/variables' as v;
.logo {
  display: flex;
  align-items: center;
  gap: 30px;
}
.logo__circle {
  // background-color: v.$main;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $main;
}
.logo__icon {
  // fill: v.$polar;
  fill: $polar;
}
.logo__text {
  font-family: Titan One;
  text-transform: uppercase;
  font-size: 25px;
  color: $main;
}
.header {
  background-color: $hero-bg;
}
.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 46px 37px 0;
  margin-bottom: 74px;
}
.navigation__list {
  display: flex;
  align-items: center;
  gap: 35px;
}
.navigation__link {
  font: normal 700 14px/1.3 DM Sans, sans-serif;
  color: $polar;
  border-radius: 22px;
  padding: 12px 5px;
  &:hover,
  &:focus,
  &:active {
    color: $main;
    background-color: $menu-bg;
    border: none;
  }
  &--current {
    color: $main;
  }
}
.button {
  font: normal 700 16px/1.3 'DM Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 22px;
  border: 1px solid transparent;
  color: $main;
  text-align: center;
  height: 44px;
  width: 159px;
  cursor: pointer;
}
.button::after {
  content: '>';
  margin-left: 14px;
  color: #d41443;
}

.hero__order-title {
  color: #fff;
  font: normal 400 26px/1.15em Titan One, cursive;
  text-transform: uppercase;
  width: 218px;
}
.hero__order-title--accent {
  font: normal 400 48px/0.905em Titan One, cursive;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  display: block;
}
.hero__button {
  font: normal 400 8px/1.25em DM Sans, sans-serif;
  min-width: 62.4px;
  height: 24px;
  text-align: center;
  border-radius: 20px;
  border: none;
  background: $main;
  color: #fff;
}
