.cards{
  padding: 43px 30px;
  box-shadow: 0 8px 30px #d414431a;
  background: #FFFFFF;

  border-radius: 24px;
}
.cards-list {
  display: flex;
  gap: 30px;
}
.cards__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-bottom: 12px;

}

.card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: white;
  margin-bottom: 32px;
  margin-top: 10px;
}
.card__title::before{
 content:'CAFE';
  background-color: #F0D1A5;
  border-radius: 6px;
  padding: 0px 15px;
  }

.card__title--green::before{
  content:'FOOD TRUCK';
  background-color: #C2E297;
  border-radius: 6px;
  padding: 0px 15px;
}

.card__city {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 8px;
}
.card__description {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #907e82;
  width: 250px;
  margin-bottom: 64px;
}
.card__day {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #000000;
}
.card__hour{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  color: #FFA5BA;
}
.cards__link{
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 183%;
color: #907E82;
}