<section class="development">
  <div class="container">
    <h2 class="development__title">tradition and love</h2>
    <h3 class="development__subtitle">how it’s made?</h3>
  
      <img class="card__img" src="./images/desktop/milk.png" alt="milk" />
    

    <div class="card__flex">
      <div class="card__text">
        <p class="card__description">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
      </div>
      <div class="card__text">
        <p class="card__description--gray">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
      </div>
      <div class="card__text">
        <p class="card__description--gray">
          Aliquam erat volutpat. Aenean accumsan.
        </p>
      </div>
    </div>
  </div>
  <button class="button-card" type="button">Read more</button>
</section>