<footer class="footer">
  <a href="#">
    <button class="footer__buttom" type="button">Our Locations</button>
  </a>
  <a href="#">
    <button class="footer__buttom" type="button">Franchise</button>
  </a>
  <aside>
    <h2>homemade ice cream made with passion</h2>
    <ul>
      <li>
        <a href="#" target="_blank">
          <svg class="icon" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <svg class="icon" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <svg class="icon" width="20" height="20">
            <use href=""></use>
          </svg>
        </a>
      </li>
    </ul>
  </aside>
  <address>
    <ul>
      <li>
        <a href="tel:+61(0)383766284 "
          >Feel free to contact +61 (0) 383 766 284</a
        >
      </li>
      <li>&copy 2022 - IceCream. All Rights Reserved.</li>
    </ul>
  </address>
</footer>
