<section>
  <ul>
    <li>
      <div>
        <div>
          <img src="../images/desktop/ice cream on tray1.jpg" alt="ice cream on tray1" />
        </div>
      </div>
    </li>
    <li>
      <div>
        <div>
          <img src="../images/desktop/ice cream two flavors1.jpg" alt="ice cream two flavors1" />
        </div>
      </div>
    </li>
    <li>
      <div>
        <div>
          <img src="../images/desktop/pink ice creams1.jpg" alt="pink ice cream1" />
        </div>
      </div>
    </li>
    <li>
      <div>
        <div>
          <img src="../images/desktop/ice cream with blueberries1.jpg" alt="ice cream with blueberries1" />
        </div>
      </div>
    </li>
    <li>
      <div>
        <div>
          <img src="../images/desktop/girl eating ice cream1.jpg" alt="girl eating ice cream1" />
        </div>
      </div>
    </li>
    <li>
      <div>
        <div>
          <img src="../images/desktop/ice cream dessert1.jpg" alt="ice cream dessert1" />
        </div>
      </div>
    </li>
    <li>
      <div>
        <div>
          <img src="../images/desktop/red ice cream1.jpg" alt="red ice cream1" />
        </div>
      </div>
    </li>
    <li>
      <div>
        <div>
          <img src="../images/desktop/dog eating ice cream1.jpg" alt="dog eating ice cream1" />
        </div>
      </div>
    </li>
    <li>
      <div>
        <div>
          <img src="../images/desktop/chocolate ice cream1.jpg" alt="chocolate ice cream1" />
        </div>
      </div>
    </li>
    <li>
      <div>
        <div>
          <img src="../images/desktop/ice cream in glass1.jpg" alt="ice cream in glass1" />
        </div>
      </div>
    </li>
  </ul>
</section>