<section class="hero">
  <h1 class="hero__order-title">ice cream made with</h1>
  <span
    class="hero__order-title--accent"><span>p</span><span>a</span><span>s</span><span>s</span><span>i</span><span>o</span><span>n</span>
    </span< /span>
    <a href="#">
      <button class="hero__button" type="button">Products</button>
    </a>
    <a href="#">
      <button class="hero__button" type="button">How it’s made?</button>
    </a>
    <div class="hero__description">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et
      </p>
    </div>
    <div class="hero-ice">
    </div>
    <div class="hero_decorate">
      <p class="hero-text-min">
        <span class="hero__text-min--accent">16</span><br />cafes
      </p>
      <p class="hero__text-min">
        <span class="hero__text-min--accent">23</span><br />food trucks
      </p>
    </div>
</section>