<section class="cards-footer">
  <div class="container">
    <ul class="cards-list">
      <div class="cards">
        <li class="cards__item">
          <h3 class="card__title">CAFE</h3>
          <h4 class="card__city">Chicago</h4>
          <p class="card__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          <ul class="cards-list-items">
            <li class="cards__item">
              <h3 class="card__day">Monday-Friday</h3>
              <h4 class="card__hour">06:00 AM-10:00 PM</h4>
            </li>
            <div>
            <li class="cards__item">
              <h3 class="card__day">Saturday - Sunday</h3>
              <h4 class="card__hour">08:00 AM - 16:00 PM</h4>
            </li>
          </div>
          </ul>
          <ul class="cards-list">
            <li class="cards__item">
              <a class="cards__link" href="tel +61(0) 383 766 284">+61(0) 383 766 284</a>
              <a class="cards__link" href="maito:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </li>
      </div>

      <div class="cards">
        <li class="cards__item">
          <h3 class="card__title--green">FOOD TRUCK</h3>
          <h4 class="card__city">Los Angeles</h4>
          <p class="card__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="cards-list-items">
            <li class="cards__item">
              <h3 class="card__day">Monday-Friday</h3>
              <h4 class="card__hour">06:00 AM-10:00 PM</h4>
            </li>

            <li class="cards__item">
              <h3 class="card__day">Saturday - Sunday</h3>
              <h4 class="card__hour">08:00 AM - 16:00 PM</h4>
            </li>
          </ul>
          <ul class="cards-list">
            <li class="cards__item">
              <a class="cards__link" href="tel +61(0) 383 766 284">+61(0) 383 766 284</a>
              <a class="cards__link" href="maito:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </li>
      </div>

      <div class="cards">
        <li class="cards__item">
          <h3 class="card__title">CAFE</h3>
          <h4 class="card__city">Chicago</h4>
          <p class="card__description">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="cards-list-items">
            <li class="cards__item">
              <h3 class="card__day">Monday-Friday</h3>
              <h4 class="card__hour">06:00 AM-10:00 PM</h4>
            </li>

            <li class="cards__item">
              <h3 class="card__day">Saturday - Sunday</h3>
              <h4 class="card__hour">08:00 AM - 16:00 PM</h4>
            </li>
          </ul>
          <ul class="cards-list">
            <li class="cards__item">
              <a class="cards__link" href="tel +61(0) 383 766 284">+61(0) 383 766 284</a>
              <a class="cards__link" href="maito:noreply@envato.com">noreply@envato.com</a>
            </li>
          </ul>
        </li>
      </div>
    </ul>
  </div>
</section>
