<section class="menu-footer">
  <ul class="menu__list">
    <li class="menu__item">
      <h3>cafe</h3>
      <h4>chicago</h4>
      <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </li>

    <ul class="menu-date">
      <li class="menu__date-item">
        <h3>Monday-Friday</h3>
        <p>06:00 AM - 10:00 PM</p>
        <h3>Saturday-Sunday</h3>
        <p>08:00 AM - 16:00 PM</p>
      </li>
      </ul>

 <address class="menu__contact"> 
  <ul>
    <li>
      <a class="contact-tel" href="">+61(0) 383 766 284</a>
    </li>
    <li>
      <a class="contact-email"  href="">noreply@envato.com</a>
    </li>
  </ul>
 </address> 

 <ul class="menu__list">
  <li class="menu__item">
    <h3>food truck</h3>
    <h4>Los Angeles</h4>
    <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>  
  </li>
 </ul>
  
 <ul>
  <li>
    <h3>Monday-Friday</h3>
    <p>06:00 AM - 10:00 PM</p>
    <h3>Saturday - Sunday</h3>
    <p>08:00 AM - 16:00 PM</p>
  </li>
 </ul>

 <address class="menu__contact">
  <ul>
    <li>
      <a href="">+61(0) 383 766 284</a>
    </li>
    <li>
      <a href="">noreply@envato.com</a>
    </li>
  </ul>
 </address>

 <ul class="menu__list">
    <li class="menu__item">
      <h3>cafe</h3>
      <h4>New York</h4>
      <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </li>
  </ul>

    <ul>
      <li>
        <h3>Monday-Friday</h3>
        <p>06:00 AM - 10:00 PM</p>
        <h3>Saturday-Sunday</h3>
        <p>08:00 AM - 16:00 PM</p>
      </li>
      </ul>

 <address class="menu__contact"> 
  <ul>
    <li>
      <a href="">+61(0) 383 766 284</a>
    </li>
    <li>
      <a href="">noreply@envato.com</a>
    </li>
  </ul>
 </address> 
    </ul>

</section>
