<html lang="en">
  <body>
    <section class="products"> 
    <div class="container">
      <h2 class="products__title">100% NATURAL</h2>
      <h3 class="products__item">PRODUCTS</h3>
      <ul class="list">
        <li class="list-item">
    <div class="products__frozen">
        <img class="frozen" src="../images/home-pic1.png" alt="frozenstrawberry"/>
        <img class="figure" src="../images/rectangle 3.jpeg" alt="">
          <h4 class="ice">ICE CREAM</h4>
        <!-- <svg class="product__points" width="25px" height="6px">
          <use href="../images/icoms.svg#icon-puntos"></use>
        </svg> -->
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="#"></a>
          <!-- <svg class="product__arrow" width="38px" height="40px">
            <use href="../images/icoms.svg#icon-arrow-right2"></use></svg> -->
        </a>
    </div>
        </li>
        <li class="list-item">
    <div class="products__frozen">
        <img class="frozen" src="../images/home-pic2.png" alt="frozenstrawberry"/>
        <img class="figure" src="../images/rectangle 3.jpeg" alt="">
          <h4 class="ice">ICE CREAM</h4>
        <!-- <svg class="product__points" width="25px" height="6px">
          <use href="../images/icoms.svg#icon-puntos"></use>
        </svg> -->
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="#"></a>
          <!-- <svg class="product__arrow" width="38px" height="40px">
            <use href="../#icon-arrow-right2"></use></svg> -->
        </a>
    </div>
        </li>
        <li class="list-item">
    <div class="products__frozen">
        <img class="frozen" src="../images/home-pic3.png" alt="frozenstrawberry"/>
        <img class="figure" src="../images/rectangle 3.jpeg" alt="">
          <h4 class="ice">ICE CREAM</h4>
        <!-- <svg class="product__points" width="25px" height="6px">
          <use href="../images/icoms.svg#icon-puntos"></use>
        </svg> -->
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="#"></a>
          <!-- <svg class="product__arrow" width="38px" height="40px">
            <use href="../images/icoms.svg#icon-arrow-right2"></use></svg> -->
        </a>
    </div>
        </li>
        </ul>
    </div>
  </section>
  </body>
</html>

