<section class="products">
  <div class="container">
    <h2 class="products__title">100% natural</h2>
    <h3 class="products__item">products</h3>
    <ul class="list">
      <li class="list-item">
        <div class="products__frozen">
          <img class="frozen" src="./images/desktop/fresa.png" alt="frozenstrawberry">
          <img class="figure" src="./images/desktop/rectangulo.png" alt="figure">
          <h4 class="ice">Ice crem</h4>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt
            ut
            labore et</p>
        </div>
      </li>
      <li class="list-item">
        <div class="products__frozen">
          <img class="frozen" src="./images/desktop/fresa.png" alt="frozenstrawberry">
          <img class="figure" src="./images/desktop/rectangulo.png" alt="figure">
          <h4 class="ice">Ice crem</h4>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt
            ut
            labore et</p>
        </div>
      </li>
      <li class="list-item">
        <div class="products__frozen">
          <img class="frozen" src="./images/desktop/fresa.png" alt="frozenstrawberry">
          <img class="figure" src="./images/desktop/rectangulo.png" alt="figure">
          <h4 class="ice">Ice crem</h4>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt
            ut
            labore et</p>
        </div>
      </li>
    </ul>
  </div>
</section>