<section>
  <h3>100% NATURAL</h3>
  <h1>PRODUCTS</h1>
  <div>
    <ul>
      <div>
        <img src="../images/home-pic1.jpg" alt="" />
      </div>
      <li>
        <h2>ICE CREAM</h2>
        <svg width="25px" height="6px">
          <use href="../images/icoms.svg#icon-puntos"
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="#"
          ><svg width="38px" height="40px">
            <use href="../images/icoms.svg#icon-arrow-right2"></use></svg
        ></a>
      </li>
      <div>
        <img src="../images/home-pic2.jpg" alt="" />
      </div>
      <li>
        <h2>ICE COFFEE</h2>
        <svg width="25px" height="6px">
          <use href="../images/icoms.svg#icon-puntos"></use>
        </svg>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="#"
          ><svg width="38px" height="40px">
            <use href="../images/icoms.svg#icon-arrow-right2"></use></svg
        ></a>
      </li>
      <div>
        <img src="../images/home-pic3.jpg" alt="" />
      </div>
      <li>
        <h2>MILKSHAKES</h2>
        <svg width="25px" height="6px">
          <use href="../images/icoms.svg#icon-puntos"></use>
        </svg>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="#"
          ><svg width="38px" height="40px">
            <use href="../images/icoms.svg#icon-arrow-right2"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
